{% extends 'global/base.html' %}

{% block content %}

    <!-- Courses -->
    <section class="section-course" id="cursos">
        <div class="text-center">
            <h1>Nossos <span class="text-green">Cursos</span></h1>
        </div>
        <div class="main-course">
            <div class="curso1">
                <h1>Termux</h1>
                <p>Tudo tem início!</p>
                <ul>
                    <li>Você será capaz <br>de aprender tudo</li>
                    <li>Não precisa de nenhum <br>conhecimento para aprender</li>
                    <li>Nível Básico até o Avançado</li>
                </ul>
                <span>R$ 19,90</span>
                <a href="#">Comprar</a>
            </div>
            <div class="curso2">
                <h1>Hacking</h1>
                <p>Tudo tem inicio</p>
                <ul>
                    <li>Você será capaz <br>de aprender tudo</li>
                    <li>Não precisa de nenhum <br>conhecimento para aprender</li>
                    <li>Nível Básico até o Avançado</li>
                </ul>
                <span>R$ 19,90</span>
                <a href="#">Comprar</a>
            </div>
            <div class="curso3">
                <h1>Ferramentas</h1>
                <p>Tudo tem inicio</p>
                <ul>
                    <li>Você será capaz <br>de aprender tudo</li>
                    <li>Não precisa de nenhum <br>conhecimento para aprender</li>
                    <li>Nível Básico até o Avançado</li>
                </ul>
                <span>R$ 19,90</span>
                <a href="#">Comprar</a>
            </div>
        </div>
    </section>
    <!-- Courses End -->

{% endblock content %}